<header>
    <nav>
        {% if page.file_name == "posts.html" %}
            <a href="contact.html">Contact</a>
            <a class="active" href="posts.html" class="active">Posts</a>
        {% elif page.file_name == "contact.html" %}
            <a class="active" href="contact.html" class="active">Contact</a>
            <a href="posts.html">Posts</a>
        {% else %}
            <a href="contact.html">Contact</a>
            <a href="posts.html">Posts</a>
        {% endif %}
    </nav>
</header>
